1-es6/1-forEach/mini-projet/apres
1-es6/2-for-of/mini-projet/apres
1-es6/3-template-string/mini-projet/apres
1-es6/4-destructuration/1.Appel Ajax jQuery/apres
1-es6/8-some-every/mini-projet/apres
1-es6/9-reduce/mini-projet/apres
1-es6/10-parametre-par-defaut/mini-projet/apres
1-es6/11-arrow-functions/refactors/apres
1-es6/15-promesses/3.mini-projet/apres
1-es6/17-includes/mini-projet/apres
1-es6/6-filter/mini-projet/apres
1-es6/7-find/mini-projet-2/apres
1-es6/4-destructuration/mini-projet/apres